@page "/s/edit"
@using BlazorApp.Shared

@inject StateContainer StateContainer

<ListDetails></ListDetails>
<div class="container main content">
  <NewLink OnNewLinkAdded="@NewLinkAdded"></NewLink>
  @if (StateContainer.LinkBundle.Links.Count != 0)
  {
    <div id="linkHeader" class="columns is-mobile is-vcentered is-gapless">
      <div class="column">
        <h3 class="has-text-primary is-size-3 has-text-weight-medium">
          Links
        </h3>
      </div>
      <div class="column">
        <span class="is-pulled-right">Drag links to re-order</span>
      </div>
    </div>
    @* <LinkBundleItems></LinkBundleItems> *@
    <SortableList Items="@StateContainer.LinkBundle.Links" Context="link">
      <SortableItem>
        <BundleItemEditable newLink="@link" OnDeleteLink="@DeleteLink"></BundleItemEditable>
      </SortableItem>
    </SortableList>
    <button id="deleteButton" v-if="currentList.links.length > 0 && listIsPublished"
      class="button is-large is-danger has-text-white is-fullwidth" @onclick="ResetLinkBundle">
      Delete This List
    </button>
  }
</div>

@code {

  private void NewLinkAdded(string url)
  {
    StateContainer.AddLinkToBundle(url);
  }

  private void ResetLinkBundle()
  {
    StateContainer.LinkBundle = new LinkBundle();
  }

  private void DeleteLink(Link link)
  {
    StateContainer.DeleteLinkFromBundle(link);
  }
}
