@page "/s/edit"
@using BlazorApp.Shared

@inject StateContainer StateContainer
@inject HttpClient Http
@inject NavigationManager NavigationManager

<LinkBundleDetails IsPublished="true"></LinkBundleDetails>
<div class="container main content">
  <LinkBundleItems></LinkBundleItems>
  <button id="deleteButton" class="button is-large is-danger has-text-white is-fullwidth"
    @onclick="ShowDeleteModal">Delete This List</button>
  <ModalConfirm @ref="modalConfirm" Type="@ModalConfirm.ModalType.danger" Title="Delete this list?"
    OnOK="DeleteLinkBundle">
    <PromptContent>
      <p>
        The url
        <span class="has-text-danger">@StateContainer.LinkBundle.VanityUrl</span> will be
        released for others to use.
      </p>
    </PromptContent>
  </ModalConfirm>
</div>

@code {

  private ModalConfirm? modalConfirm;

  protected override void OnInitialized()
  {
    StateContainer.OnChange += StateHasChanged;
  }

  private void ShowDeleteModal()
  {
    modalConfirm?.Show();
  }

  private async Task DeleteLinkBundle()
  {
    await Http.DeleteAsync($"api/links/{StateContainer.LinkBundle.VanityUrl}");
    StateContainer.LinkBundle = new LinkBundle();
    NavigationManager.NavigateTo("/s/new");
  }
}
