@page "/"

@using BlazorApp.Shared

@inject NavigationManager NavigationManager
@inject StateContainer StateContainer

<PageTitle>The Urlist</PageTitle>

<div class="has-background-white">
  <div class="container">
    <div class="section">
      <div class="columns">
        <div class="column">
          <div id="bannerText">
            <h1 class="is-size-3 has-text-weight-medium">
              <span class="has-text-primary">Group</span> links,
              <span class="has-text-primary">Save</span> &
              <span class="has-text-primary">Share</span> them with the world
            </h1>
            <br />
            <p>Add links to a list and share it with one simple URL.</p>
            <br />
            <p>
              Create a list anonymously or login to save, manage, and edit your
              lists.
            </p>
          </div>
        </div>
        <div class="column is-half is-hidden-mobile">
          <img src="/images/banner-logo-large.png" class="banner-image" />
        </div>
      </div>
    </div>
  </div>
  <div id="getStarted">
    <div id="homeBottomBackground"></div>
    <div id="homeBottom" class="container">
      <div class="section">
        <h2 class="is-size-3 has-text-weight-bold has-text-primary has-text-centered">
          Get Started
        </h2>
        <NewLink></NewLink>
      </div>
    </div>
  </div>
</div>

@code {
  private void NewLinkAdded(string url)
  {
    // add the url to the state store
    StateContainer.LinkBundle.Links.Add(new Link { Url = url });

    // navigate to the /s/edit route
    NavigationManager.NavigateTo($"/s/edit");
  }
}
