@page "/s/migrate"

@inject StateContainer StateContainer

<div>
    <h1>Migrate from Twitter</h1>
    <p>Twitter auth has been removed due to changes in the X API. We're sorry! The good news is that you can migrate your Twitter Login to one of the other providers listed below. Select one of these providers to access any lists you created under a Twitter login.</p>
</div>