@page "/s/mylists"

@using BlazorApp.Shared

@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@inject HttpClient Http

<div class="container">
  <div class="lists">
    @if (LoadingUsersLists)
    {
      <h2 class="is-size-3 is-heading has-text-primary has-text-weight-medium">
        Loading your lists
        <span class="dots">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
      </h2>
    }
    else
    {
      <div class="columns is-vcentered">
        <div class="column">
          <h2 class="is-size-3 is-heading has-text-primary has-text-weight-medium">My Lists</h2>
        </div>
        @* <div class="colum
      n has-text-right">
      <button class="button is-primary" @onclick="ShowImportModal">Import</button>
      </div> *@
      </div>

    }
    <div class="columns is-multiline list">
      <div class="column is-one-quarter-widescreen is-one-third-desktop is-half-tablet">
        <div class="list-item" @onclick="NewList">
          <div class="list-placeholder has-text-centered">
            <div class="column has-text-weight-medium">
              <div>+</div>
              <span>Create new list</span>
            </div>
          </div>
        </div>
      </div>

      @if (StateContainer.User?.LinkBundles != null)
      {
        @foreach (var linkBundle in StateContainer.User.LinkBundles)
        {
          <div class="column is-one-quarter-widescreen is-one-third-desktop is-half-tablet">
            <img src="../images/bg.png" alt class="list-dots is-pulled-right is-relative" />
            <div class="card list-item is-relative" @onclick="() => EditList(linkBundle)">
              <span class="list-count tag is-primary is-size-6 has-text-weight-bold">
                @linkBundle.Links.Count Links
              </span>
              <div class="list-item-content">
                <div class="card-content list-item-content-details">
                  <h3 class="is-block list-title is-size-5 has-text-weight-medium">
                    @linkBundle.VanityUrl
                  </h3>
                  <p class="is-size-6">@linkBundle.Description</p>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
<ModalImport @ref="modalImport"></ModalImport>

@code {

  private bool LoadingUsersLists { get; set; } = false;

  private ModalImport? modalImport;

  protected override async Task OnInitializedAsync()
  {
    var linkBundles = await GetLinkBundlesForUser();
    if (StateContainer.User != null)
    {
      StateContainer.User.LinkBundles = linkBundles;
    }
  }

  private async Task<List<LinkBundle>> GetLinkBundlesForUser()
  {
    try
    {
      LoadingUsersLists = true;

      var response = await Http.GetFromJsonAsync<List<LinkBundle>>($"api/user");
      return response ?? new List<LinkBundle>();
    }
    catch (Exception ex)
    {
      Console.WriteLine(ex.Message);
      return new List<LinkBundle>();
    }
    finally
    {
      LoadingUsersLists = false;
    }
  }

  private void NewList()
  {
    StateContainer.LinkBundle = new LinkBundle();
    NavigationManager.NavigateTo("/s/new");
  }

  private void EditList(LinkBundle linkBundle)
  {
    StateContainer.LinkBundle = linkBundle;
    NavigationManager.NavigateTo("/s/edit");
  }

  private void ShowImportModal()
  {
    modalImport?.Show();
  }
}