@page "/s/new"
@using BlazorApp.Shared

@inject StateContainer StateContainer
@inject HttpClient Http

<ListDetails></ListDetails>
<div class="container main content">
  <EditList></EditList>
</div>

@code {
  protected override void OnInitialized()
  {
    StateContainer.OnChange += StateHasChanged;
  }
}