@page "/{vanityUrl}"

@using BlazorApp.Shared
@using System.Collections.Generic

@inject HttpClient Http
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager

<div class="container">
  @if (LoadingList)
  {
    <div class="has-text-centered">
      <h2 class="is-size-3 is-heading has-text-primary has-text-weight-medium">
        Loading
        <span class="dots">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
      </h2>
    </div>
  }
  else
  {
    <div class="section">
      @if (linkBundle.Links.Count > 0)
      {
        <div>
          <h2 class="is-size-3 is-heading has-text-weight-medium has-text-primary">
            @linkBundle.Description
          </h2>
          <div class="columns is-mobile">
            <div class="column is-half">
              <div id="share" class="buttons has-addons">
                <a class="button" target="_blank"
                  :href="
            `https://twitter.com/intent/tweet?text=${
              currentList.description
            } theurlist.com/${currentList.vanityUrl}`
                                                                                                                                ">
                  <span class="icon"><i class="fab fa-twitter"></i></span>
                </a>
                <a class="button" target="_blank"
                  :href="
            `https://www.facebook.com/sharer/sharer.php?u=theurlist.com/${
              currentList.vanityUrl
            }`
                                                                                                                                ">
                  <span class="icon"><i class="fab fa-facebook-f"></i></span>
                </a>
                <a class="button" target="_blank"
                  :href="
            `https://www.linkedin.com/shareArticle?mini=true?summary=${
              currentList.description
            }&url=https://theurlist.com?${currentList.vanityUrl}`
                                                                                                                                ">
                  <span class="icon"><i class="fab fa-linkedin-in"></i></span>
                </a>
              </div>
            </div>
            <div class="column is-half">
              <div id="view" class="buttons has-addons is-pulled-right">
                <button title="View as List" class="button" @onclick="() => ShowQr = false">
                  <span class="icon"><i class="fas fa-list-ul"></i></span>
                </button>
                <button title="View as QR Code" class="button" @onclick="() => ShowQr = true">
                  <span class="icon"><i class="fas fa-qrcode"></i></span>
                </button>
              </div>
            </div>
          </div>
          @if (ShowQr)
          {
            <div class="has-text-centered">
              <QrCodeItem Url="@($"https://theurlist.com/{vanityUrl}")"></QrCodeItem>
            </div>
          }
          else
          {
            <br />
            <div>
              @foreach (var link in linkBundle.Links)
              {
                <LinkBundleItem link="link"></LinkBundleItem>
              }
            </div>
          }
        </div>
      }
      else
      {
        <div class="has-text-centered">
          <figure>
            <img src="images/urly.png" alt="Sad green fuzzy" width="500" height="500" />
          </figure>
          <h2 class="is-size-4 has-text-weight-bold">
            We couldn't find that Urlist
          </h2>
          <h3 class="is-size-5">
            But don't be sad! That means <a @onclick="NewLinkBundle">@vanityUrl</a> is still available.
          </h3>
        </div>
      }
    </div>
  }
</div>

@code {
  [Parameter]
  public string vanityUrl { get; set; } = "";

  private bool LoadingList { get; set; } = false;
  private bool ShowQr { get; set; } = false;

  private LinkBundle linkBundle { get; set; } = new LinkBundle();
  protected override async Task OnInitializedAsync()
  {
    try
    {
      LoadingList = true;

      var response = await Http.GetFromJsonAsync<LinkBundle>($"api/links/{vanityUrl}");
      linkBundle = response ?? new LinkBundle();
    }
    catch (Exception ex)
    {
      // if the error is 404, then the vanity url doesn't exist

      // if the error is something else, log it
      Console.WriteLine(ex.Message);
    }
    finally
    {
      LoadingList = false;
    }
  }

  private void NewLinkBundle()
  {
    StateContainer.LinkBundle = new LinkBundle();
    StateContainer.LinkBundle.VanityUrl = vanityUrl;
    NavigationManager.NavigateTo($"/s/new/");
  }
}