.link-outer {
  height: 130px;
}

.link-editable {
  margin: 10px -40px auto -40px;
}

.link-wrapper {
  transition: margin 400ms linear;
  margin-top: 10px;
  margin-bottom: auto;
}

.link {
  width: 100%;
  height: 110px;
  cursor: pointer;
  padding-left: 10px;
}

.link .textarea,
.link .input {
  padding: 0px 4px 0px 4px;
  line-height: auto;
  height: auto;
  min-height: auto;
  border: none;
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link .textarea:hover,
.link .input:hover {
  box-shadow: inset 1px 0px 2px #20ae96;
}

.link .link-image {
  padding-right: -14px;
}

.link .link-image.link-image-little {
  margin-left: 4px;
  margin-right: 4px;
}

.link .link-details {
  height: 110px;
  margin-right: 10px;
}

.link .link-description {
  font-size: 1em;
  height: 40px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link .link-url {
  margin-left: 4px;
  font-size: 12px;
  border: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link .link-url:disabled {
  background-color: white;
  color: black;
}

.link .link-delete {
  cursor: pointer;
  margin-top: -20px;
  margin-left: 20px;
  transition: margin 400ms linear;
}

.link .link-overlay {
  height: 110px;
  width: 100%;
  cursor: pointer;
  position: absolute;
  margin-top: -110px;
}

.link-drag-handle {
  cursor: move;
}

@media only screen and (max-width: 1090px) {
  .link-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}