@inherits LayoutComponentBase

@using BlazorApp.Shared

@inject HttpClient Http
@inject StateContainer StateContainer

<div class="page">
  <NavBar loggedIn="loggedIn"></NavBar>
  @Body
</div>

@code {
  private bool loggedIn = false;

  protected override async Task OnInitializedAsync()
  {
    await GetClientPrincipalAsync();
  }

  private async Task GetClientPrincipalAsync()
  {
    try
    {
      var result = await Http.GetFromJsonAsync<ClientPrincipalWrapper>("/.auth/me");
      if (result?.ClientPrincipal != null)
      {
        StateContainer.User = new User(result.ClientPrincipal);
        loggedIn = true;
        StateHasChanged();
      }
    }
    catch (Exception ex)
    {
      Console.WriteLine(ex.Message);
    }
  }

}
