@inherits LayoutComponentBase

@using BlazorApp.Shared

@inject StateContainer StateContainer
@inject HttpClient Http

<div class="page">
  <ProgressBar></ProgressBar>
  <NavBar loggedIn="loggedIn"></NavBar>
  @Body
</div>

@code {
  private bool loggedIn = false;

  protected override async Task OnInitializedAsync()
  {
    await GetClientPrincipalAsync();

    // try to load the last list they were on from localstorage
    await StateContainer.LoadLinkBundleFromLocalStorage();
  }

  private async Task GetClientPrincipalAsync()
  {
    try
    {
      var result = await Http.GetFromJsonAsync<ClientPrincipalWrapper>(".auth/me");

      // if the client principal is null, then they are not logged in
      if (result?.ClientPrincipal == null)
      {
        return;
      }

      StateContainer.User = new User(result.ClientPrincipal);

      loggedIn = true;

      StateHasChanged();
    }
    catch (Exception ex)
    {
      Console.WriteLine(ex.Message);
    }
  }

}
