@inject StateContainer StateContainer

<ModalWindow @ref="modal">
  <ModalWindowContent>
    <h4 class="is-size-4 has-text-weight-normal">Delete this list?</h4>
    <br />
    <p>
      The url
      <span class="has-text-danger">@StateContainer.LinkBundle.VanityUrl</span> will be
      released for others to use.
    </p>
    <br />
    <button :disabled="!canDelete" class="button is-danger is-large is-fullwidth has-text-white"
      @onclick="DeleteLinkBundle">
      Yes, Delete It
    </button>
  </ModalWindowContent>
</ModalWindow>

@code {

  ModalWindow? modal;

  public void Show()
  {
    modal?.ShowModal();
  }

  public void DeleteLinkBundle()
  {
    modal?.HideModal();
  }
}