#twitterButton {
  background-color: #1cabe9;
}

#facebookButton {
  background-color: #3b5998;
}

#githubButton {
  background-color: #333333;
}

#googleButton {
  background-color: #dd4b39;
}

.icon {
  margin-right: 8px;
}

