@inject NavigationManager NavigationManager

<ModalWindow @ref="modal">
<div class="m-a">
  <div class="columns is-vcentered">
    <div class="column has-text-centered">
      <h1 class="is-size-4 has-text-weight-medium">
        Sign in with
      </h1>
    </div>
    <div class="column login-buttons">
      <LoginButton Provider="Twitter" Icon="fa-x-twitter" CurrentUrl="@currentUrl" />
      <br />
      <LoginButton Provider="GitHub" Icon="fa-github" CurrentUrl="@currentUrl" />
      <br />
      <LoginButton Provider="Google" Icon="fa-google" CurrentUrl="@currentUrl" />
      <br />
      <LoginButton Provider="Microsoft" Icon="fa-microsoft" CurrentUrl="@currentUrl" />
    </div>
  </div>
</div>


</ModalWindow>

@code {
  ModalWindow? modal;

  public string? currentUrl;

  public void Show()
  {
    currentUrl = NavigationManager.Uri;
    modal?.ShowModal();
  }
}
