@using System.Text.Json
@using BlazorApp.Shared

@inject NavigationManager NavigationManager
@inject StateContainer StateContainer
@inject HttpClient Http

<ModalWindow @ref="modal">

  <div>
    <p>Import any lists you created under a Twitter login.</p>
    <a href="@($"https://www.google.com?id={migrationId}")" class="button mt-4">Import From Twitter</a>
  </div>

</ModalWindow>

@code {
  ModalWindow? modal;

  private string? userData;

  private string? migrationId;

  // on init async
  protected override void OnInitialized()
  {
    var data = new
    {
      userDetails = StateContainer.User?.ClientPrincipal.UserDetails,
      identityProvider = StateContainer.User?.ClientPrincipal.IdentityProvider
    };

    userData = JsonSerializer.Serialize(data);
  }
  
  public async void Show()
  {
    migrationId = await GetMigrationId();
    modal?.ShowModal();
  }

  public async Task<string> GetMigrationId()
  {
    var response = await Http.GetAsync("api/migration");
    var migration = await response.Content.ReadFromJsonAsync<Migration>() ?? new Migration();

    return migration.Id;
  }
}