<div class="modal @((isOpen) ? "is-active" : "")">
  <div class="modal-background" @onclick="CloseModal"></div>
  <div class="modal-content">
    <div class="card modal-content-inner">
      <a class="flex is-pulled-right" @onclick="CloseModal">
        <img src="/images/close.png" />
      </a>
      <div class="card-content">
        @ModalWindowContent
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public RenderFragment? ModalWindowContent { get; set; }

  public void Show() {
    isOpen = true;
  }

  public bool isOpen { get; set; }

  public void CloseModal()
  {
    isOpen = false;
  }
}