@inject NavigationManager NavigationManager

<div class="modal @((isOpen) ? "is-active" : "")">
  <div class="modal-background" @onclick="CloseModal"></div>
  <div class="modal-content">
    <div class="card modal-content-inner">
      <a class="flex is-pulled-right" @onclick="CloseModal">
        <img src="/images/close.png" />
      </a>
      <div class="card-content">
        <div class="columns is-gapless is-vcentered is-relative is-mobile">
          <div class="column">
            <h1 class="is-size-4 has-text-weight-medium is-pulled-right">
              Sign in to&nbsp;
            </h1>
          </div>
          <div class="column">
            <img width="100" class="is-pulled-left" src="/images/logo.svg" />
          </div>
        </div>
        <a id="twitterButton" href="@($"/.auth/login/twitter?post_login_redirect_uri={currentUrl}")" class="button
        is-large is-fullwidth has-text-white">
          <span>
            <i id="twitterIcon" class="fab fa-twitter twitter-icon icon"></i>
            <span class="is-size-5 has-text-weight-medium">with Twitter</span>
          </span>
        </a>
        <br />
        <a id="facebookButton" href="/.auth/login/facebook" class="button is-large is-fullwidth has-text-white">
          <span>
            <i id="facebookIcon" class="fab fa-facebook icon"></i>
            <span class="is-size-5 has-text-weight-medium">with Facebook</span>
          </span>
        </a>
        <br />
        <a id="githubButton" href="/.auth/login/github" class="button is-large is-fullwidth has-text-white">
          <span>
            <i id="githubIcon" class="fab fa-github icon"></i>
            <span class="is-size-5 has-text-weight-medium">with GitHub</span>
          </span>
        </a>
        <br />
        <a id="googleButton" href="/.auth/login/google" class="button is-large is-fullwidth has-text-white">
          <span>
            <i id="googleIcon" class="fab fa-google icon"></i>
            <span class="is-size-5 has-text-weight-medium">with Google</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public bool isOpen { get; set; }

  [Parameter]
  public EventCallback<bool> closeModal { get; set; }


  private string currentUrl;

  protected override void OnInitialized()
  {
    currentUrl = NavigationManager.Uri;
  }

  private async void CloseModal()
  {
    await closeModal.InvokeAsync();
  }
}