@using System.Text.Json

@inject NavigationManager NavigationManager
@inject StateContainer StateContainer

<ModalWindow @ref="modal">

  <div>
    <p>Import any lists you created under a Twitter login.</p>
    <a class="button mt-4"
      href="@($"https://theurlist-migrations.azurewebsites.net/.auth/login/twitter?post_login_redirect_url=https://theurlist-migrations.azurewebsites.net/import?clientPrincipal={clientPrincipal}")">Import
      From Twitter</a>
  </div>

</ModalWindow>

@code {
  ModalWindow? modal;

  private string? clientPrincipal;

  protected override void OnInitialized()
  {
    clientPrincipal = JsonSerializer.Serialize(StateContainer.User?.ClientPrincipal);
  }

  public void Show()
  {
    modal?.ShowModal();
  }
}