.beta-bump {
    margin-top: 20px;
}

#navbar {
    top: 0;
    width: 100%;
    background: var(--main-background);
    box-shadow: var(--drop-shadow);
    padding-bottom: 20px;
}

#navbar a.navbar-item {
    color: #71777e;
}

#navbar a.navbar-item img {
    max-height: inherit;
}

#navbar a.navbar-item:hover,
#navbar a.navbar-item:focus,
#navbar a.navbar-item:focus-within {
    background-color: inherit;
    color: inherit;
}

#profileImage {
    margin-left: 5px;
    margin-right: 10px;
    > img {
      width: 28px;
      height: 28px;
    }
  }