@using BlazorApp.Shared

<EditForm Model="@Model" OnValidSumit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
  <DataAnnotationsValidator />
  <p>Enter a link and press enter</p>
  <InputText class="input is-large is-size-2" @bind-Value="Model!.Url" id="newLink" placeholder="http://example.com"
    ParsingErrorMessage="That doesn't look like a valid URL" />
  <ValidationMessage class="has-text-danger is-font-weight-medium mt-2" For="() => Model.Url" />
</EditForm>

@code {
  public Link? Model { get; set; }
  private bool isInvalid = false;

  protected override void OnInitialized() => Model ??= new();

  private void OnValidSubmit()
  {
    Console.WriteLine("Submit");
  }

  private void OnInvalidSubmit()
  {
    isInvalid = true;
  }
}