<EditForm @OnValidSubmit="AddNewLink">
  <p>Enter a link and press enter</p>
  <InputText
    class="input is-large is-size-2"
    ref="newLink"
    type="url"
    id="newLink"
    required
    @bind="newLink"
    placeholder="http://example.com"
  />
  <div class="errorMessage @(isInvalid ? "" : "is-hidden")">
    <p class="has-text-danger is-font-weight-medium">
      That doesn't look like a valid URL
    </p>
  </div>
</EditForm>

@code {
  private string newLink = ""; 
  private bool isInvalid = false; 

  [Parameter]
  public EventCallback<string> OnLinkAdded { get; set; }
  
  void AddNewLink(KeyboardEventArgs e) { 
    if (e.Key == "Enter") { 
        
        @* OnLinkAdded.InvokeAsync(newLink); *@
    }
  }
} 
