.progress-bar--container {
  width: 100%;
  height: 6px;
  background-color: #4ade9b;
  display: none;
  position: relative;
  overflow: hidden;
  transition: opacity 0.1s ease-out;
  opacity: 1;
}

.progress-bar--container::after {
  background-color: #2bad96;
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  transform-origin: left;
}

.progress-bar--container.visible {
  display: block;
  animation: progress-bar--container_fadeIn 0.2s ease-in;
}

.progress-bar--container.visible::after {
  display: block;
  animation: progress-bar_fill 2s linear;
  animation-iteration-count: infinite;
}

.progress-bar--container.visible.fade {
  opacity: 0;
}

@keyframes progress-bar_fill {
  0% {
    transform: scaleX(0) translateX(0);
  }
  1% {
    transform: scaleX(0) translateX(0);
  }
  33% {
    transform: scaleX(0.66) translateX(16.5%);
  }
  75% {
    transform: scaleX(1.5) translateX(66%);
  }
  100% {
    transform: scaleX(2) translateX(150%);
  }
}

@keyframes progress-bar--container_fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}