@inject StateContainer StateContainer

<div class="progress-bar--wrapper">
  <div id="progressBar" class="progress-bar--container visible"></div>
</div>

@code {
  protected override void OnInitialized()
  {
    StateContainer.OnChange += StateHasChanged;
  }

  public void Dispose()
  {
    StateContainer.OnChange -= StateHasChanged;
  }
}