@inject StateContainer StateContainer

<div id="progressBar" class="progress-bar--container @(StateContainer.ActiveHttpRequests > 0 ? "visible" : "")"></div>

@code {
  protected override void OnInitialized()
  {
    StateContainer.OnChange += StateHasChanged;
  }
}